@import './pixelHelpers.scss';

$lightnavy: #3a4a7b;
$navy: #293a63;
$darknavy: #10213a;
$white: #ffffff;
$offwhite: #dee6ef;
$black: #000000;
$lime: #73ce73;
$green: #4a9452;
$brown: #7b4242;
$lightflesh: #ffd6b5;
$flesh: #ffc594;
$darkflesh: #de9473;
$lightred: #ff635a;
$darkred: #c54242;

#Brendan {
    width: 112px;
    height: 176px;
    position: absolute;
    right: 55%;
    bottom: 10%;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 8px;
        height: 8px;
        content: '';
        transform: translateY(0px);
        box-shadow: boxShadowGen(
            (
                (#000000, null, null, null, null, $lightnavy),
                (null, null, null, null, $lightnavy, $white, $lightnavy),
                (
                    null,
                    null,
                    null,
                    null,
                    $lightnavy,
                    $white,
                    $white,
                    $lightnavy,
                    $lightnavy,
                    $lightnavy,
                    $lightnavy
                ),
                (
                    null,
                    null,
                    $lightnavy,
                    $lightnavy,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $white,
                    $white,
                    $lightnavy,
                    $lightnavy
                ),
                (
                    null,
                    $lightnavy,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $white,
                    $white,
                    $white,
                    $white,
                    $white,
                    $lime,
                    $lightnavy,
                    $navy
                ),
                (
                    $lightnavy,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $lime,
                    $lime,
                    $white,
                    $white,
                    $darknavy
                ),
                (
                    null,
                    $lightnavy,
                    $black,
                    $offwhite,
                    $offwhite,
                    $green,
                    $green,
                    $lime,
                    $lime,
                    $lime,
                    $lime,
                    $lime,
                    $white,
                    $green
                ),
                (
                    null,
                    null,
                    $black,
                    $offwhite,
                    $darknavy,
                    $darknavy,
                    $green,
                    $green,
                    $green,
                    $green,
                    $green,
                    $green,
                    $green,
                    $brown
                ),
                (
                    null,
                    null,
                    $black,
                    $darknavy,
                    $darknavy,
                    $darknavy,
                    $darknavy,
                    $darknavy,
                    $darknavy,
                    $lightflesh,
                    $lightflesh,
                    $lightflesh,
                    $darkflesh,
                    $brown
                ),
                (
                    null,
                    null,
                    $black,
                    $darknavy,
                    $darknavy,
                    $darknavy,
                    $darknavy,
                    $black,
                    $darkflesh,
                    $lightflesh,
                    $darknavy,
                    $lightflesh,
                    $lightflesh,
                    $brown
                ),
                (
                    null,
                    null,
                    null,
                    $black,
                    $black,
                    $flesh,
                    $lightflesh,
                    $black,
                    $darkflesh,
                    $flesh,
                    $darknavy,
                    $lightflesh,
                    $lightflesh,
                    $brown
                ),
                (
                    null,
                    null,
                    null,
                    $black,
                    $brown,
                    $darkflesh,
                    $flesh,
                    $darkflesh,
                    $darkflesh,
                    $darkflesh,
                    $darkflesh,
                    $darkflesh,
                    $brown
                ),
                (
                    null,
                    null,
                    null,
                    null,
                    $black,
                    $darknavy,
                    $darkflesh,
                    $darkflesh,
                    $darkflesh,
                    $darkflesh,
                    $brown,
                    $brown
                ),
                (
                    null,
                    null,
                    null,
                    $black,
                    $green,
                    $green,
                    $brown,
                    $brown,
                    $brown,
                    $brown,
                    $brown
                ),
                (
                    null,
                    null,
                    $black,
                    $lime,
                    $brown,
                    $green,
                    $darknavy,
                    $black,
                    $black,
                    $darknavy,
                    $darkred,
                    $brown
                ),
                (
                    null,
                    null,
                    $black,
                    $green,
                    $green,
                    $darknavy,
                    $black,
                    $lightred,
                    $lightred,
                    $black,
                    $darknavy,
                    $brown
                ),
                (
                    null,
                    null,
                    null,
                    $black,
                    $green,
                    $black,
                    $black,
                    $darkred,
                    $darkred,
                    $black,
                    $darknavy,
                    $black
                ),
                (
                    null,
                    null,
                    null,
                    null,
                    $black,
                    $black,
                    $black,
                    $black,
                    $black,
                    $black,
                    $black
                ),
                (
                    null,
                    null,
                    null,
                    null,
                    null,
                    $black,
                    $black,
                    $black,
                    $black,
                    $black,
                    $black
                ),
                (
                    null,
                    null,
                    null,
                    null,
                    null,
                    $black,
                    $brown,
                    $green,
                    $darknavy,
                    $darknavy,
                    $darkred,
                    $black
                ),
                (
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    $black,
                    $black,
                    $black,
                    $black,
                    $black
                )
            )
        );
    }
    &.frame2:after {
        transform: translateY(8px);
        box-shadow: boxShadowGen(
            (
                (#000000, null, null, null, null, $lightnavy),
                (null, null, null, null, $lightnavy, $white, $lightnavy),
                (
                    null,
                    null,
                    null,
                    null,
                    $lightnavy,
                    $white,
                    $white,
                    $lightnavy,
                    $lightnavy,
                    $lightnavy,
                    $lightnavy
                ),
                (
                    null,
                    null,
                    $lightnavy,
                    $lightnavy,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $white,
                    $white,
                    $lightnavy,
                    $lightnavy
                ),
                (
                    null,
                    $lightnavy,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $white,
                    $white,
                    $white,
                    $white,
                    $white,
                    $lime,
                    $lightnavy,
                    $navy
                ),
                (
                    $lightnavy,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $lime,
                    $lime,
                    $white,
                    $white,
                    $darknavy
                ),
                (
                    null,
                    $lightnavy,
                    $black,
                    $offwhite,
                    $offwhite,
                    $green,
                    $green,
                    $lime,
                    $lime,
                    $lime,
                    $lime,
                    $lime,
                    $white,
                    $green
                ),
                (
                    null,
                    null,
                    $black,
                    $offwhite,
                    $darknavy,
                    $darknavy,
                    $green,
                    $green,
                    $green,
                    $green,
                    $green,
                    $green,
                    $green,
                    $brown
                ),
                (
                    null,
                    null,
                    $black,
                    $darknavy,
                    $darknavy,
                    $darknavy,
                    $darknavy,
                    $darknavy,
                    $darknavy,
                    $lightflesh,
                    $lightflesh,
                    $lightflesh,
                    $darkflesh,
                    $brown
                ),
                (
                    null,
                    null,
                    $black,
                    $darknavy,
                    $darknavy,
                    $darknavy,
                    $darknavy,
                    $black,
                    $darkflesh,
                    $lightflesh,
                    $darknavy,
                    $lightflesh,
                    $lightflesh,
                    $brown
                ),
                (
                    null,
                    null,
                    null,
                    $black,
                    $black,
                    $flesh,
                    $lightflesh,
                    $black,
                    $darkflesh,
                    $flesh,
                    $darknavy,
                    $lightflesh,
                    $lightflesh,
                    $brown
                ),
                (
                    null,
                    null,
                    null,
                    $black,
                    $brown,
                    $darkflesh,
                    $flesh,
                    $darkflesh,
                    $darkflesh,
                    $darkflesh,
                    $darkflesh,
                    $darkflesh,
                    $brown
                ),
                (
                    null,
                    null,
                    null,
                    null,
                    $black,
                    $darknavy,
                    $darkflesh,
                    $darkflesh,
                    $darkflesh,
                    $darkflesh,
                    $brown,
                    $brown
                ),
                (
                    null,
                    null,
                    null,
                    $black,
                    $green,
                    $green,
                    $brown,
                    $darknavy,
                    $darkred,
                    $brown,
                    $brown
                ),
                (
                    null,
                    null,
                    $black,
                    $lime,
                    $brown,
                    $green,
                    $black,
                    $black,
                    $darknavy,
                    $darkred,
                    $brown,
                    $brown
                ),
                (
                    null,
                    null,
                    $black,
                    $green,
                    $green,
                    $black,
                    $lightred,
                    $lightred,
                    $black,
                    $darknavy,
                    $darkred,
                    $brown
                ),
                (
                    null,
                    null,
                    null,
                    $black,
                    $green,
                    $black,
                    $darkred,
                    $darkred,
                    $black,
                    $darknavy,
                    $darknavy,
                    $brown,
                    $black
                ),
                (
                    null,
                    null,
                    $black,
                    $brown,
                    $black,
                    $black,
                    $black,
                    $black,
                    $black,
                    $darknavy,
                    $darknavy,
                    $black,
                    $lightred,
                    $black
                ),
                (
                    null,
                    null,
                    $black,
                    $brown,
                    $brown,
                    $black,
                    $black,
                    $black,
                    $black,
                    $black,
                    $black,
                    $green,
                    $lightred,
                    $black
                ),
                (
                    null,
                    null,
                    null,
                    $black,
                    $black,
                    null,
                    null,
                    null,
                    null,
                    $black,
                    $brown,
                    $brown,
                    $black
                ),
                (
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    $black,
                    $black
                )
            )
        );
    }

    &.frame3:after {
        transform: translateY(8px);
        box-shadow: boxShadowGen(
            (
                (#000000, null, null, null, null, $lightnavy),
                (null, null, null, null, $lightnavy, $white, $lightnavy),
                (
                    null,
                    null,
                    null,
                    null,
                    $lightnavy,
                    $white,
                    $white,
                    $lightnavy,
                    $lightnavy,
                    $lightnavy,
                    $lightnavy
                ),
                (
                    null,
                    null,
                    $lightnavy,
                    $lightnavy,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $white,
                    $white,
                    $lightnavy,
                    $lightnavy
                ),
                (
                    null,
                    $lightnavy,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $white,
                    $white,
                    $white,
                    $white,
                    $white,
                    $lime,
                    $lightnavy,
                    $navy
                ),
                (
                    $lightnavy,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $offwhite,
                    $lime,
                    $lime,
                    $white,
                    $white,
                    $darknavy
                ),
                (
                    null,
                    $lightnavy,
                    $black,
                    $offwhite,
                    $offwhite,
                    $green,
                    $green,
                    $lime,
                    $lime,
                    $lime,
                    $lime,
                    $lime,
                    $white,
                    $green
                ),
                (
                    null,
                    null,
                    $black,
                    $offwhite,
                    $darknavy,
                    $darknavy,
                    $green,
                    $green,
                    $green,
                    $green,
                    $green,
                    $green,
                    $green,
                    $brown
                ),
                (
                    null,
                    null,
                    $black,
                    $darknavy,
                    $darknavy,
                    $darknavy,
                    $darknavy,
                    $darknavy,
                    $black,
                    $lightflesh,
                    $lightflesh,
                    $lightflesh,
                    $darkflesh,
                    $brown
                ),
                (
                    null,
                    null,
                    $black,
                    $darknavy,
                    $darknavy,
                    $darknavy,
                    $darknavy,
                    $black,
                    $darkflesh,
                    $lightflesh,
                    $darknavy,
                    $lightflesh,
                    $lightflesh,
                    $brown
                ),
                (
                    null,
                    null,
                    null,
                    $black,
                    $black,
                    $flesh,
                    $lightflesh,
                    $black,
                    $darkflesh,
                    $flesh,
                    $darknavy,
                    $lightflesh,
                    $lightflesh,
                    $brown
                ),
                (
                    null,
                    null,
                    null,
                    $black,
                    $brown,
                    $darkflesh,
                    $flesh,
                    $darkflesh,
                    $darkflesh,
                    $darkflesh,
                    $darkflesh,
                    $darkflesh,
                    $brown
                ),
                (
                    null,
                    null,
                    null,
                    null,
                    $black,
                    $darknavy,
                    $darkflesh,
                    $darkflesh,
                    $darkflesh,
                    $darkflesh,
                    $brown,
                    $brown
                ),
                (
                    null,
                    null,
                    null,
                    $black,
                    $green,
                    $green,
                    $darknavy,
                    $darknavy,
                    $brown,
                    $darknavy,
                    $brown
                ),
                (
                    null,
                    null,
                    $black,
                    $lime,
                    $brown,
                    $green,
                    $darknavy,
                    $darknavy,
                    $black,
                    $black,
                    $darknavy,
                    $brown
                ),
                (
                    null,
                    null,
                    $black,
                    $green,
                    $green,
                    $darknavy,
                    $darknavy,
                    $black,
                    $lightred,
                    $lightred,
                    $black,
                    $brown,
                    $black
                ),
                (
                    null,
                    null,
                    null,
                    $black,
                    $green,
                    $black,
                    $black,
                    $black,
                    $darkred,
                    $darkred,
                    $black,
                    $black,
                    $brown,
                    $black
                ),
                (
                    null,
                    null,
                    $black,
                    $darkred,
                    $black,
                    $black,
                    $black,
                    $black,
                    $black,
                    $black,
                    $black,
                    $brown,
                    $brown,
                    $black
                ),
                (
                    null,
                    null,
                    $black,
                    $darkred,
                    $green,
                    $black,
                    $black,
                    $black,
                    $black,
                    $black,
                    $brown,
                    $brown,
                    $black
                ),
                (
                    null,
                    null,
                    null,
                    $black,
                    $lightred,
                    $lightred,
                    $black,
                    null,
                    null,
                    null,
                    $black,
                    $black
                ),
                (null, null, null, $black, $black)
            )
        );
    }
}
