.heading {
    .pokemon {
        overflow: hidden;

        h1 {
            position: absolute;
            z-index: 100;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
                Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
                sans-serif;
        }

        .background {
            height: 100vh;
            position: relative;
            animation: slide 30s linear infinite;

            &::after {
                content: '';
                height: 100%;
                width: 500%;
                position: absolute;
                left: 0;
                top: 0;
                background-image: url('../assets/background.jpg');
                background-repeat: repeat-x;
                background-position: center;
                background-size: 20% 100%;
            }
        }
    }
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-200%);
    }
}
